{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">Dashboard</h3>

<div class="row mb-4">

    <!-- Balance Card -->
    <div class="col-md-4">
        <div class="card bg-primary text-white p-3 shadow">
            <h5>Account Number</h5>
            <p>{{acc}}</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-success text-white p-3 shadow">
            <h5>Balance</h5>
            <h3>₹ {{balance}}</h3>
        </div>
    </div>

</div>

<div class="row">

    <!-- Deposit -->
    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Deposit</h5>
            <form action="/deposit" method="POST">
                <input name="amount" class="form-control mb-2" placeholder="Amount" required>
                <button class="btn btn-success w-100">Deposit</button>
            </form>
        </div>
    </div>

    <!-- Withdraw -->
    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Withdraw</h5>
            <form action="/withdraw" method="POST">
                <input name="amount" class="form-control mb-2" placeholder="Amount" required>
                <button class="btn btn-danger w-100">Withdraw</button>
            </form>
        </div>
    </div>

    <!-- Transfer -->
    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Transfer</h5>
            <form action="/transfer" method="POST">
                <input name="receiver" class="form-control mb-2" placeholder="Receiver Account" required>
                <input name="amount" class="form-control mb-2" placeholder="Amount" required>
                <button class="btn btn-warning w-100">Transfer</button>
            </form>
        </div>
    </div>

</div>

<div class="mt-4">
    <a href="/history" class="btn btn-info">View History</a>
    <a href="/logout" class="btn btn-dark">Logout</a>
</div>

{% endblock %}