{% extends "base.html" %}

{% block content %}

<h3>Transaction History</h3>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Type</th>
            <th>Amount</th>
            <th>Time</th>
        </tr>
    </thead>

    <tbody>
        {% for t in data %}
        <tr>
            <td>{{t.type}}</td>
            <td>{{t.amount}}</td>
            <td>{{t.timestamp}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/dashboard" class="btn btn-secondary">Back</a>

{% endblock %}